.Weather{
    background-color: pink;
    border: 1px solid #dadde1;
    font-family:'Times New Roman', Times, serif;
    color:rgb(80, 6, 90);
    padding: 40px;
    margin: 30px auto;
    max-width:650px;
    border-radius: 5px;
}
.btn-primary {
    background-color: #704c91;
    border-color: #704c91;}

.btn-primary:hover{
    color: #704c91;
    background-color: #f9f9f6;
    border-color: #704c91;
    transition: all 200ms ease-in-out;}

.Weather h1{
    margin-top:20px;
    line-height: 29px;
    font-weight: 100;
    font-size: 24px;
    font-weight: bold;
    
}
.Weather ul{
    margin:0;
    padding:0;
}
.Weather li{
text-align: left;
    list-style: none;
    font-size: 19px;
    font-weight: 100;
}
.Weather canvas{
   
    display: inline-block;
    margin-right: 2px;
    line-height: 64px;
    position:relative;
    margin-top: 5px;

}
.Weather .float-left {
    position: relative;
    top: 5px;
    left:-80px;
    float: right;}

.Weather .temperature {
 display:inline-block;
    font-weight: bold;
    font-size:54px;
    line-height: 54px;
    font-weight: 400;
}
.Weather .unit{
    font-size: 19px;
    font-weight: 400;
    position:relative;
    top: -26px;

}

   